@mixin nonelink {
    text-decoration: none;
    outline: none;
}
@mixin container {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 1216px;
    padding: 0 5px; 
}
@mixin subtitle {
    font-family: 'Roboto';
    font-size: 1.4em; /*14px*/
    line-height: 28 / 14 * 100%; /*20px*/
    text-transform: uppercase;
    color: #929A9F;
    letter-spacing: 0.1em;
    font-weight: bold;
}
@mixin title {
    font-family: 'Roboto';
    color: #263640;
    font-weight: bold;
}
@mixin text {
    font-family: 'Roboto';
    font-size: 1.6em; /*16px*/
    line-height: 28 / 16 * 100%; /* 28px*/
    color: #929A9F;
    font-weight: 500;
}